#settings, #settings-not-logged-in {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    flex: 1; 
}

.settings-container {
    width: 100%; 
    flex: 1; 

    display: flex; 
    justify-content: center;

    flex-direction: row;
}

#settings-menu {
    background-color: var(--light-background);
    height: calc(100% - 5px); 

    margin-right: 10px; 

    display: flex; 
    flex-direction: column;

    min-width: 200px; 
    border-radius: 5px; 

    overflow: hidden; 
}

@media (max-width: 630px) {
    #settings-menu {
        position: absolute; 
        margin-right: calc(100% - 200px); 
        height: auto; 
    }
}

#settings-menu button {
    color: var(--color); 

    font-size: 1.1em; 
    border: none; 

    background: none; 
    cursor: pointer; 

    padding: 10px; 
    padding-top: 5px; 
    padding-bottom: 5px; 
}

#settings-menu button:hover {
    background-color: var(--hover-background); 
}

#settings-content {
    flex: 1; 
    height: 100%; 
}

.settings-table {
    width: min(400px, 100%);
}

.settings-table th {
    text-align: right; 
    font-weight: normal; 
}

.settings-table td {
    width: 100%; 
}

.settings-table input, .settings-table textarea {
    width: calc(100% - 6px); 

    margin: 0; 
    padding: 2px; 

    border: 1px solid var(--description); 
    border-radius: 5px; 

    resize: none; 
}

.settings-table textarea {
    height: 100px; 
}

.settings-table .submit {
    width: 100%; 

    background: linear-gradient(to top, var(--topmenu-background-left), var(--topmenu-background-right));
    height: 100%;
    border-radius: 5px;

    padding: 7px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2em;

    border: none; 
    color: white;
}